<div class="row-fluid" style="text-align: center">
  <h2>
  {{#if is_cars_trucks}}
    Car/Truck Packages
  {{else if is_rvs_motorhomes}}
    RV/Motorhome Packages
  {{else if is_boats_pwc}}
    Boat/PWC Packages
  {{else}}
    Motorcycle Packages
  {{/if}}
  </h2>
</div>
<div class="row-fluid">
  <div class="col-md-2">
    {{#link-to 'admin.packages.new' class="btn btn-default"}}Add Package{{/link-to}}
    <div class="list-group">
      {{#each model as |package|}}
        {{#link-to 'packages.package' package.id class="list-group-item"}}{{package.title}}{{/link-to}}
      {{/each}}
    </div>
  </div>
  <div class="col-md-10">
    {{outlet}}
  </div>
</div>
